<!DOCTYPE html>
<div class="login-wrap">
  <div class="inner-login-wrap">
  <h1>Log In </h1>
  <a>Havent signed up yet? Click <a href="/signup">here</a> to sign up! </a>
    <%= form_tag '/login' do %>
    <%= render partial: 'layouts/errors' %>
    <p class="email-login">Email: <%= text_field_tag :email%></p>
    <p class="password-login">Password: <%= password_field_tag :password%></p>
    <div class="login-btn-wrap"><%= submit_tag "Log In", class: "login-btn" %></div>
    <% end %>
  </div>
</div>
