<!DOCTYPE html>
<div class="chat-wrap1">
  <div class="inner-chat-wrap1">
    <h1 class="signup-title">Sign Up Today!</h1>
    <h4>Already a member? Login <a href="/login">here</a></h4>
    <%= render partial: "layouts/errors" %>
    <div class="form-wrap"><%= form_for :user, url: '/users' do |f| %>
      <div class="form-group">
        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

          <p>Member<%= f.radio_button :role, "Member" %></p>
          <p>Trainer<%= f.radio_button :role, "Trainer" %></p>
          <p>Admin<%= f.radio_button :role, "Admin" %></p>
          <%= f.submit "Submit", class: "btn btn-primary"%>
        <% end %>
    </div>
  </div>
</div>
