<!DOCTYPE html>
<html>
  <head>
    <title>Fitsapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="logout-btn-wrap"><%= link_to "Logout", '/logout', class: "logout-btn" %></div>
    <% end %>
  <%= yield %>
  <script>
  $(document).ready(function() {
    $("#message-wrap").hide();
    $("#chat-form-btn").hide();
    $("#chat-btn").click(function( event ) {
      $("#message-wrap").show();
      $("#chat-form-btn").show();
      event.preventDefault();
    });
  });
  </script>
  </body>
</html>
